## Lista em python

In [4]:
lista_1 = []
lista_2 = [1, 2, 3]
lista_3 = ['Walisson', 23, 1.77]
lista_4 = [['Walisson', 23], ['Wanderson', 23]]

print(lista_1)
print(lista_2)
print(lista_3)
print(lista_4)

[]
[1, 2, 3]
['Walisson', 23, 1.77]
[['Walisson', 23], ['Wanderson', 23]]

Quando se soma duas lista, ele faz uma concatenação

In [6]:
lista_3 + lista_2

['Walisson', 23, 1.77, 1, 2, 3]

Não se multiplica, repete-se a lista na quantidade de vezes solicitada pelo *

In [8]:
lista_2 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
#Tamanho lista
len (lista_3)

3

In [12]:
#Posição da lista
lista_3[0]

'Walisson'

In [16]:
lista = ['Aline' , 23, 1.77]
'Aline' in lista

True

In [17]:
lista = ['Aline' , 23, 1.77]
'Joao' in lista

False

In [21]:
numeros = [14.55, 67, 8.88, 10, 21.5]
#Menor numero
min (numeros)

8.88

In [23]:
#Maior número
max (numeros)

67

In [24]:
#Soma
sum (numeros)

121.92999999999999

In [ ]:
#Media
sum(numeros)

In [25]:
#Mostrar item na posição 2
print(numeros[2])

8.88

### Metodos importantes

In [39]:

#append(elemento)
print('Inserir um item ao final da lista')

#insert(pos, element)
print('Inserir um item em determinada posição')

#remove(elemente)
print('Remover um item')

#reverse()
print('Inverter sua lista')

#sort()
print('Ordenar seus elementos')

#count(element)
print('Contas seus elementos')

Inserir um item ao final da lista
Inserir um item em determinada posição
Remover um item
Inverter sua lista
Ordenar seus elementos
Contas seus elementos

In [47]:
number = [14.55, 67, 8.88, 10, 21.5]
print(number)
number.append(100)
number.append(10)
print(number)

[14.55, 67, 8.88, 10, 21.5]
[14.55, 67, 8.88, 10, 21.5, 100, 10]

In [49]:
#number.sort(reverse=True)
number.sort()
print(number)

[8.88, 10, 10, 14.55, 21.5, 67, 100]

In [50]:
number.reverse()
print(number)

[100, 67, 21.5, 14.55, 10, 10, 8.88]

In [48]:
quant = number.count(10)
print(quant)

2